.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    position:sticky;
    top:0;
    z-index:100;
    background-color: white;

}.logo{
    height: 30px;
    width: 100px;
    object-fit:contain;
    margin-left: 20px;
}
.header_center{
    display: flex;
    align-items: center;
    width: 40%;
    border:1px solid black;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_center > input{
  flex: 1;
  border: none;
}
.header_button{
    width:50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}
.header_rightIcons{
    margin-right: 8px;
}